<div class="clock-widget">
  {% if display_est %}
    <div id="clock-widget-est" class="timezone">EST: Loading...</div>
  {% endif %}
  {% if display_utc %}
    <div id="clock-widget-utc" class="timezone">UTC: Loading...</div>
  {% endif %}
</div>
